* {
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

body {
    background-color: rgb(215, 227, 250);
}

.container {
    width: 23em;
    height: 12.5em;
    display: block;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: linear-gradient(120deg, rgb(51, 132, 224), rgb(30, 179, 99));
    border: none;
    border-radius: 1em;
    box-shadow: .2em 1em 1em rgba(0, 13, 255, 0.211);
    transition-duration: .3s;
}

.container:hover {
    background-color: rgb(250, 250, 250);
    box-shadow: .2em 1.2em 1.2em rgba(0, 13, 255, 0.211);
}

h2 {
    background: none;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
}

h3 {
    text-align: center;
}

#wrapper {
    background: none;
    margin: .8em;
    font-size: 1em;
    font-weight: 500;
    color: aliceblue;
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: center;
    gap: .4em;
}

#degree input {
    width: 220px;
    padding: 10px;
    background: none;
    font-size: 1em;
    color: aliceblue;
    border: none;
    border-bottom: 1px solid rgb(225, 233, 240);
    border-radius: 1em;
    outline: none;
}