* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 129, 226);
}

.container {
    width: 90vmin;
    background-color: aliceblue;
    border-radius: 1em;
    box-shadow: 1em 1em .2em rgba(0, 0, 0, 0.244);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
}

.searchArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#inpWord {
    font-size: 1.3em;
    height: 1.4em;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: .2em solid rgb(18, 129, 226);
    background-color: aliceblue;
    color: rgb(4, 34, 59);
    padding: 5px;
}

#btnWord {
    width: 25%;
    padding: 5px 0px;
    border-radius: .2em;
    outline: none;
    border: none;
    background-color: rgb(18, 129, 226);
    color: aliceblue;
}

.resultArea {
    position: relative;
}

.resultArea h3 {
    font-size: 1.75em;
    font-weight: 600;
    color: rgb(4, 34, 59);
}

.resultArea .word {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.resultArea button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    color: rgb(18, 129, 226);
}

.resultArea .details {
    display: flex;
    gap: 10px;
    color: rgba(4, 34, 59, 0.5);
    margin: 5px 0px 20px 0;
    font-size: 1.1em;
}

.wordMeaning {
    color: rgba(4, 34, 59, 0.6);
}

.wordExample {
    color: rgba(4, 34, 59, 0.5);
    padding-left: 5px;
    margin-top: 20px;
    font-style: italic;
    border-left: 3px solid rgb(18, 129, 226);
}